Repository igorcampos-dev/spring-integrations-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: project: spring-kafka-example, project: spring-prometheus-grafana-example, type: dependency-upgrade, ci: github-actions, tool: renovate, doc: documentation

chore(spring-prometheus-grafana-example): migrate 'singlestat' to 'stat'
  spring-prometheus-grafana-example/docker/dashboards/jvm-metrics-dashboard.json
Labels: project: spring-prometheus-grafana-example

chore(spring-prometheus-grafana-example): adjustments to bring abstraction in the GitHub workflows
  .github/workflows/spring-kafka-example.yml
  .github/workflows/spring-prometheus-grafana-example.yml
Labels: ci: github-actions

Update README.md
  README.md
Labels: doc: documentation

chore(geral): remove spaces to test new workflow config
  spring-kafka-example/.gitattributes
  spring-kafka-example/.gitignore
  spring-prometheus-grafana-example/.gitattributes
  spring-prometheus-grafana-example/.gitignore
Labels: project: spring-kafka-example, project: spring-prometheus-grafana-example

chore(spring-kafka-test): aditionate producer,consumer, compose configs, global handler exception,logs and lombok in the project
  spring-kafka-example/compose.yaml
  spring-kafka-example/pom.xml
  spring-kafka-example/src/main/java/com/io/example/consumer/KafkaConsumerService.java
  spring-kafka-example/src/main/java/com/io/example/consumer/KafkaConsumerServiceImpl.java
  spring-kafka-example/src/main/java/com/io/example/controller/dto/request/MessageRequestDtoRequest.java
  spring-kafka-example/src/main/java/com/io/example/controller/dto/response/GetDtoResponse.java
  spring-kafka-example/src/main/java/com/io/example/exception/handler/GlobalExceptionHandler.java
  spring-kafka-example/src/main/java/com/io/example/exception/responseBody/Error.java
  spring-kafka-example/src/main/java/com/io/example/producer/KafkaProducerService.java
  spring-kafka-example/src/main/java/com/io/example/producer/KafkaProducerServiceImpl.java
Labels: project: spring-kafka-example, type: dependency-upgrade

chore(spring-kafka-test): aditionate producer,consumer, compose configs, global handler exception,logs and lombok in the project
  spring-kafka-example/src/main/java/com/io/example/controller/ExampleController.java
  spring-kafka-example/src/main/resources/application-dev.yml
  spring-kafka-example/src/main/resources/application.yml
  spring-kafka-example/src/test/java/com/io/example/SpringKafkaExampleExampleConsumerTests.java
Labels: project: spring-kafka-example

chore(spring-kafka-test): general improvements in the project
  .github/workflows/spring-kafka-example.yml
  spring-kafka-example/compose.yaml
  spring-kafka-example/docker/create_topic.sh
  spring-kafka-example/src/main/java/com/io/example/config/JacksonConfig.java
  spring-kafka-example/src/main/java/com/io/example/consumer/KafkaConsumerService.java
  spring-kafka-example/src/main/java/com/io/example/consumer/KafkaConsumerServiceImpl.java
  spring-kafka-example/src/main/java/com/io/example/controller/ExampleController.java
  spring-kafka-example/src/main/java/com/io/example/controller/dto/response/GetDtoResponse.java
  spring-kafka-example/src/main/java/com/io/example/controller/dto/response/SimpleTopicDtoResponse.java
  spring-kafka-example/src/main/java/com/io/example/producer/KafkaProducerService.java
  spring-kafka-example/src/main/java/com/io/example/producer/KafkaProducerServiceImpl.java
  spring-kafka-example/src/main/resources/application-dev.yml
  spring-kafka-example/src/main/resources/application.yml
Labels: project: spring-kafka-example, ci: github-actions

chore(spring-kafka-test): add mapper
  spring-kafka-example/src/main/java/com/io/example/mapper/JsonMapper.java
Labels: project: spring-kafka-example

chore(spring-kafka-test): remove test
  spring-kafka-example/src/test/java/com/io/example/SpringKafkaExampleExampleConsumerTests.java
Labels: project: spring-kafka-example

chore(spring-kafka-test): geral adjustments
  spring-kafka-example/pom.xml
  spring-kafka-example/src/main/java/com/io/example/config/JacksonConfig.java
  spring-kafka-example/src/main/java/com/io/example/controller/ExampleController.java
  spring-kafka-example/src/main/java/com/io/example/controller/dto/request/MessageRequestDtoRequest.java
  spring-kafka-example/src/main/java/com/io/example/controller/dto/response/SimpleTopicDtoResponse.java
  spring-kafka-example/src/main/java/com/io/example/exception/handler/GlobalExceptionHandler.java
  spring-kafka-example/src/main/java/com/io/example/exception/responseBody/Error.java
  spring-kafka-example/src/main/java/com/io/example/mapper/JsonMapper.java
  spring-kafka-example/src/main/java/com/io/example/producer/KafkaProducerService.java
Labels: project: spring-kafka-example, type: dependency-upgrade

Update README.md
  spring-kafka-example/README.md
Labels: project: spring-kafka-example

chore(ci/cd): adjustment workflow
  .github/scripts/check-container-health.sh
  .github/workflows/spring-kafka-example.yml
  .github/workflows/spring-prometheus-grafana-example.yml
Labels: ci: github-actions

chore(ci/cd): add permission sh
  .github/scripts/check-container-health.sh
Labels: ci: github-actions

feat(spring-keycloak-example): add base
  pom.xml
  spring-keycloak-example/.gitattributes
  spring-keycloak-example/.gitignore
  spring-keycloak-example/.mvn/wrapper/maven-wrapper.properties
  spring-keycloak-example/mvnw
  spring-keycloak-example/mvnw.cmd
  spring-keycloak-example/pom.xml
  spring-keycloak-example/src/main/java/com/io/example/SpringKeycloakExampleApplication.java
  spring-keycloak-example/src/main/resources/application-dev.yml
  spring-keycloak-example/src/main/resources/application.yml
Labels: none

Update compose.yaml
  spring-prometheus-grafana-example/compose.yaml
Labels: project: spring-prometheus-grafana-example

chore(spring-keycloak-example): add support to docker
  spring-keycloak-example/.dockerignore
  spring-keycloak-example/Dockerfile
  spring-keycloak-example/Dockerfile.keycloak
  spring-keycloak-example/compose.yaml
  spring-keycloak-example/docker/keycloak/cert-info.md
  spring-keycloak-example/docker/keycloak/tls.crt
  spring-keycloak-example/docker/keycloak/tls.key
  spring-keycloak-example/src/main/resources/banner.txt
Labels: none

chore(spring-keycloak-example): separate application.yml
  spring-keycloak-example/src/main/resources/application-dev.yml
  spring-keycloak-example/src/main/resources/application.yml
Labels: none

.github/labeler.yml:

"project: spring-kafka-example":
  - changed-files:
      - any-glob-to-any-file: 'spring-kafka-example/**/*'

"project: spring-prometheus-grafana-example":
  - changed-files:
      - any-glob-to-any-file: 'spring-prometheus-grafana-example/**/*'

"type: dependency-upgrade":
  - changed-files:
      - any-glob-to-any-file:
          - spring-kafka-example/pom.xml
          - spring-prometheus-grafana-example/pom.xml

"ci: github-actions":
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

"tool: renovate":
  - changed-files:
      - any-glob-to-any-file: 'renovate.json'

"doc: documentation":
  - changed-files:
      - any-glob-to-any-file: 
          - 'README.md'
          - 'LICENSE'
